<h1 style="color:red;margin-bottom:1em">Listing articles</h1>
<div style="background:#ddd; padding:5px;margin-bottom:3em">For usage within a div - click <%=link_to("here","/within-a-div")%></div>
<%= render(:partial => "article", :collection => @articles) %>

<br />
<%= will_paginate(@articles) %>
<%= pageless(@articles.total_pages, articles_path) %>
