<h1 style="margin-bottom:3em">Listing articles</h1>

<%= render(:partial => "article", :collection => @articles) %>

<br />
<%= will_paginate(@articles) %>
<%= pageless(@articles.total_pages, articles_path) %>
